@media all and (min-width: 480px) {
    
    
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }


  .regButton{
      margin-bottom: 20px;
  }

  .email-label{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    /* color:#82fb6a; */
  }