.qCard{
    width: 60%;
    border: lightblue 2px solid;
    margin-top:30px ;
    margin-bottom: 30px;
}

.quizExit{
    width: 20%;
    margin-top: 50px;
    
}

.sCard{
    width: 30%;
    border: lightblue 2px solid;
    margin-top:5px ;
    margin-bottom: 20px;
}

.bestever{
    margin-left:0px ;
    margin-right: 70px;
}

.questions{
    background-color: #42A3B8;
}

.txt{
    color: white;
}